* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}
